body {
    background-image: url('./codes.jpg'); /* Path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    overflow-x: hidden;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0; 
    text-align: center;
}

.Learned{
    margin-top: 10%;
}

.header {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 50px;
    background-color: rgba(31, 16, 238, 0.863);
    width: 100%; 
    box-sizing: border-box; 
}

.header li {
    text-align: center;
}

.header li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.header li a:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: none;
}